[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
faiss-cpu = "*"
sentence-transformers = "*"
openai = "*"
python-dotenv = "*"
streamlit = "*"
langchain-text-splitters = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
